:root {
    --color-blue: #22A39F;
    --color-black: #222222;
    --color-white: #F3EFE0;
    --color-grey: #434242;
  }

body, html{
    color: var(--color-grey);
    background-color: var(--color-white);
    margin: 0px;
}
.matrixBox{
    position: absolute;
    display: flex;
    justify-content: center;
    /*
    border: 1px solid #ff0000;
    background-color: white;
    */
}

.section-label,
.body-paragraph{
font-family: sans-serif;
}

.section-label{
    border-left: 3px solid var(--color-blue);
    padding: 0em 0.3em;
    margin: 0.7em 0.7em;
}

.body-paragraph{
    margin: 0em 2em;
    line-height: 1.7em;
}

p {
    margin: auto;
}

.matrixEquation {
    margin: 1em;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.matrix{
    position: relative;
    margin: 0px 3px;
}

.p-element-matrix{
    font-size: 32px;
}

